.wrapper {
	width: 90%;
	max-width: var(--width);
	margin: 72px auto auto;
}

.caption {
	font-size: 1rem;
	line-height: 1.5rem;
	max-width: 66%;
	margin: 1.5rem 0;
}

.skewed {
	transform: skewY(-1deg);
	margin-bottom: 72px;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		width: 95%;
	}

	.title {
		font-size: 3rem !important;
	}
}

@media screen and (max-width: 420px) {
	.title {
		font-size: 2rem !important;
	}
}
